{% extends "base.html" %}


{% block content %}

{% if user.is_authenticated %}
  

{% if records %}

<div class="coontainer mt-5 table-responsive ">

    <h1 class="text-center">Records...</h1>
    <table class="table table-striped table-hover table-bordered ">
        <thead class="table-dark">
            <tr>
                <th scope="col">#Id</th>
                <th scope="col">Name </th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Address</th>
                <th scope="col">City</th>
                <th scope="col">State</th>
                <th scope="col">Zipcode</th>
                <th scope="col">Created_at</th>
                <th scope="col">Edit</th>
                

            </tr>
        </thead>
        <tbody>
            {% for record in records %}
            <tr>
                <td>{{ record.id }}</td>
                <td>{{ record.first_name }} {{ record.last_name }}</td>
                <td>{{ record.email }}</td>
                <td>{{ record.phone }}</td>
                <td>{{ record.address }}</td>
                <td>{{ record.city }}</td>
                <td>{{ record.state }}</td>
                <td>{{ record.zipcode }}</td>
                <td>{{ record.created_at }}></td>
                <td>
                    <a href="{% url 'record' record.id%}"><i class="fa fa-edit " style="font-size:36px; color:black; "></i></a>
                </td>
         
            </tr>
            {% endfor %}
        </tbody>
    </table>    

</div>
    
    {% endif %}


{% else %}


<div class="col-md-6 offset-md-3">
    <h1 class="text-center mt-4">Login</h1>
    <form method="POST" action="{% url 'home' %}">
        {% csrf_token %}
        <div class="mb-3">
            <input type="text" class="form-control" name="username" placeholder="Username" required >
            
        </div>
        <div class="mb-3">
            
            <input type="password" class="form-control" name="password" placeholder=" Enter your Password" required>
        </div>
        <br>
        <button type="submit" class="btn btn-secondary">Login</button>
    </form>
</div>


{% endif %}


{% endblock %}